[submodule "workspace-links/go-go-os-frontend"]
	path = workspace-links/go-go-os-frontend
	url = git@github.com:go-go-golems/go-go-os-frontend.git
	branch = main
[submodule "workspace-links/go-go-app-inventory"]
	path = workspace-links/go-go-app-inventory
	url = git@github.com:go-go-golems/go-go-app-inventory.git
	branch = main
[submodule "workspace-links/go-go-os-backend"]
	path = workspace-links/go-go-os-backend
	url = git@github.com:go-go-golems/go-go-os-backend.git
	branch = main
[submodule "workspace-links/go-go-app-sqlite"]
	path = workspace-links/go-go-app-sqlite
	url = git@github.com:go-go-golems/go-go-app-sqlite.git
	branch = main
[submodule "workspace-links/go-go-app-arc-agi-3"]
	path = workspace-links/go-go-app-arc-agi-3
	url = git@github.com:go-go-golems/go-go-app-arc-agi-3.git
	branch = main
[submodule "workspace-links/go-go-gepa"]
	path = workspace-links/go-go-gepa
	url = git@github.com:go-go-golems/go-go-gepa.git
	branch = main
